@import '../../../index.scss';

.navbar{
    height: 60px;
    background: #5e72e4;
    font-weight: 700;
    letter-spacing: 6px;
    color: #fff;
    text-align: center;
    display: block;
    font-size: 22px;
    font-family: 'Bree Serif', serif;
}