@import '../../../index.scss';

.withdraw{
    width: 100%;
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;

    .big-head{
        padding: 20px 0px;
        font-size: 20px;
        text-transform: uppercase;
        color: #f5365c;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }
}